:root {
  --primary-color: #eee;
  --secondary-color: #b5b5b5;
}

.main-container {
  background: linear-gradient(
    transparent,
    transparent 50%,
    #030c19e6 50%,
    #030c19e6
  );
  background-size: 100% 200%;
  /*trasition effect for background*/
  transition: background 1s;
}

.dark {
  background-position: 100% 100%;
  --primary-color: #9db2bf;
  --secondary-color: #b5b5b5;
}

.dark-on {
  transform: translateY(-180%);
}

.light-on {
  transform: translateY(180%);
}

#light-mode-svg {
  transition: all 1s ease-in-out;
  cursor: pointer;
}

#dark-mode-svg {
  transition: all 1s ease-in-out;
  cursor: pointer;
}

#turn-direction {
  transition: transform 0.5s;
}

/*general utility*/

.border-draw {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.border-line {
  border: solid 2px #000;
}

.border-dashed {
  border: dashed 5px #b5b5b5;
}

button {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #b5b5b5;
}

button:hover {
  box-shadow: 5px 18px 4px -6px hsla(0, 0%, 0%, 0.3);
}

/*headerTicTacToe*/

.headerMainMenu-container {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/*cardmenu*/

.mainMenu-container {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.menu-container {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  align-items: center;
  gap: 20px;
  border: 1px solid blue;
  padding: 10px;
}

.menu-card-header {
  white-space: nowrap;
}

.menu-card-modes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-card-modes-select {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-card-modes-select p {
  border: 1px solid black;
  padding: 3px;
}

/*game-settings-modal*/

.modal-overlay {
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
  height: 0;
  z-index: 1;
}

.modal-container {
  background-color: rgb(183, 20, 31, 0.95);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.game-settings-container div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.game-settings-container div select {
  width: 100px;
}

/*tictactoe*/

.tictactoe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tictactoe-header {
  justify-content: center;
  align-items: center;
  gap: 20px;
  mix-blend-mode: difference;
}

.tictactoe-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.tictactoe-nav {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.utility-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  overflow: hidden;
}

.utility-icon svg {
  position: absolute;
}

.utility-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tictactoe-round {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: white;
  mix-blend-mode: difference;
}

.tictactoe-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tictactoe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  mix-blend-mode: difference;
}

.tictactoe-board > svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tictactoe-board-item {
  display: flex;
  min-height: 106px;
  min-width: 100px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.tictactoe-turn-container {
  display: flex;
  justify-content: center;
  color: white;
  mix-blend-mode: difference; 
}

.tictactoe-turn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px;
}

.tictactoe-turn section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.turn-icon {
  min-width: 30px;
}
