.main-container {
  background: linear-gradient(
    transparent,
    transparent 50%,
    #030c19e6 50%,
    #030c19e6
  );
  background-size: 100% 200%;
  transition: background 1s;
  display: grid;
}

@media (prefers-color-scheme: dark) {
  .dark {
    background-position: 100% 100%;
  }
}

.dark {
  background-position: 100% 100%;
}

.dark-on {
  transform: translateY(-180%);
}

.light-on {
  transform: translateY(180%);
}

#light-mode-svg {
  transition: all 1s ease-in-out;
}

#dark-mode-svg {
  transition: all 1s ease-in-out;
}

#turn-direction {
  transition: transform 0.5s;
}

/*general utility*/

.border-draw {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

.border-line {
  border: solid 2px #000;
}

.border-line-main {
  border: solid 2px #dde6ed;
}

.border-dashed {
  border: dashed 5px #b5b5b5;
}

.select-drop {
  box-shadow: none;
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  border-right: 0.5em solid transparent;
  position: relative;
  display: flex;
  width: 7em;
  height: 2em;
  border-radius: 0.25em;
  overflow: hidden;
  font-size: 1.5rem;
}

button {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 2rem;
}

button:hover {
  box-shadow: 5px 18px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.svg-spinner {
  animation: spin 1s infinite linear;
  animation-play-state: paused;
  transform-origin: center;
}

.svg-spinner:hover {
  animation-play-state: running;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.selected {
  background-color: rgb(183, 20, 31, 0.95);
}

.scale {
  transform: scale(0.8);
  transition: transform 0.5s;
}

.scale:hover {
  transform: scale(1);
  transition: transform 0.5s;
}

/*headerTicTacToe*/

.headerMainMenu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

/*cardmenu*/

.main-nav {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.mainMenu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.menu-container {
  color: white;
  mix-blend-mode: difference;
}

.menu-card {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.menu-card-header {
  white-space: nowrap;
}

.menu-card-modes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-card-modes-select {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-card-modes-select button {
  color: #dde6ed;
}

/*game-settings-modal*/

.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  background-color: rgb(183, 20, 31, 0.95);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

.modal-container h3 {
  font-size: 2rem;
}

.modal-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.game-settings-container div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.game-settings-container div select {
  width: 100px;
}

/*tictactoe*/

.tictactoe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tictactoe-header {
  justify-content: center;
  align-items: center;
  gap: 20px;
  mix-blend-mode: difference;
}

.tictactoe-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.tictactoe-nav {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.utility-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  overflow: hidden;
  mix-blend-mode: difference;
}

.utility-icon svg {
  position: absolute;
  cursor: pointer;
}

.utility-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tictactoe-round {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #dde6ed;
  mix-blend-mode: difference;
}

.tictactoe-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tictactoe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  mix-blend-mode: difference;
}

.tictactoe-board > svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tictactoe-board-item {
  display: flex;
  min-height: 106px;
  min-width: 100px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.tictactoe-turn-container {
  display: flex;
  justify-content: center;
  color: #dde6ed;
  mix-blend-mode: difference;
}

.tictactoe-turn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px;
}

.tictactoe-turn section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.turn-icon {
  min-width: 30px;
  width: 50px;
}
