/*tictactoe*/

.tictactoe-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tictactoe-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 150px;
  min-height: 150px;
  background-color: blue;
}

.tictactoe-board-item {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
