@font-face {
  font-family: "Gunny Rewritten";
  src: url("/src/fonts/GunnyRewritten/gnyrwn971.ttf");
  font-display: block;
}

body {
  min-height: 100vh;
  font-size: 2.5em;
}

* {
  font-family: "Gunny Rewritten", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr;
  /* background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #DDE6ED;
}
